@media(max-width:1192px) {

    /* START :: Benefit Section 
******************************************** */
    .product-benefit-section {
        .container {
            .product-benefit-container {
                .product-benefit-container-header {
                    .benefit-head {}

                    span {}
                }

                .product-benefit-main-container {
                    .product-wrapper-list {
                        .product-wrapper-item {
                            .product-item-image {
                                img {}
                            }

                            .product-item-content {
                                .product-item-head {
                                    h5 {
                                        font-size: 18px;
                                        line-height: 24px;
                                    }

                                    .product-icon-box {
                                        .product-label {
                                            font-size: 16px;
                                        }
                                    }
                                }

                                .rating-badge {
                                    display: none;

                                    span {}
                                }
                            }
                        }
                    }

                    /* .product-result-image-container { */
                    .recipe-finder-login-image {
                        img {}
                    }

                    .recipe-finder-feed-image-wrapper {
                        .feed-image-header {
                            .feed-image-heart-icon {}

                            .start-cook-btn {}
                        }

                        .recipe-finder-feed-image {
                            img {}
                        }

                        .feed-image-footer {
                            .feed-image-title {}

                            .feed-image-desc {}
                        }

                        &::before {}
                    }

                    /* } */
                }
            }
        }
    }

    /* END :: Benefit Section 
******************************************** */
}

@media(max-width:992px) {
    .recipe-finder-header {
        .container {
            .recipe-header-container {
                padding: 35px 0;

                .recipe-header-logo {
                    font-size: 34px;
                    line-height: 40px;

                    span {
                        font-size: 34px;
                        line-height: 40px;
                    }
                }

                .header-actions-list {
                    .header-action-item {
                        svg {}
                    }

                    .header-input-label {
                        input {
                            &::placeholder {}
                        }

                        &:hover {
                            input {
                                &::placeholder {}
                            }
                        }

                        &.show-hide {
                            input {
                                &::placeholder {}
                            }
                        }
                    }
                }
            }
        }
    }

    /* END :: Header Section 
    ******************************************/
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* START :: Featured Recipe Section 
    ******************************************/
    .featured-recipe-section {
        .container {
            .featured-recipe-container {
                h2 {}

                .featured-desc {}

                .featured-recipes-grid {
                    grid-template-columns: repeat(3, auto);

                    .featured-recipe-card {
                        margin: 0 auto;

                        &:nth-child(4),
                        &:nth-child(5) {
                            display: none;
                        }

                        .recipe-image {
                            img {}
                        }

                        .card-title {}

                        .card-rating-wrapper {
                            .rating-desc {}
                        }
                    }
                }
            }
        }
    }

    /* END :: Featured Recipe Section 
**********************************************/
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* START :: Benefit Section 
******************************************** */
    .product-benefit-section {
        .container {
            .product-benefit-container {
                .product-benefit-container-header {
                    .benefit-head {}

                    span {}
                }

                .product-benefit-main-container {
                    .product-wrapper-list {
                        .product-wrapper-item {
                            padding-right: 14px;

                            .product-item-image {
                                img {
                                    aspect-ratio: 106/78;
                                    width: 106px;
                                }
                            }

                            .product-item-content {
                                .product-item-head {
                                    h5 {
                                        /* font-size: 24px;
                                        line-height: 32px; */
                                    }

                                    .product-icon-box {
                                        .product-label {
                                            /* font-size: 18px;
                                            line-height: 24px; */
                                        }
                                    }
                                }
                            }
                        }
                    }

                    /* .product-result-image-container { */
                    .recipe-finder-login-image {
                        img {}
                    }

                    .recipe-finder-feed-image-wrapper {
                        .feed-image-header {
                            .feed-image-heart-icon {}

                            .start-cook-btn {}
                        }

                        .recipe-finder-feed-image {
                            img {}
                        }

                        .feed-image-footer {
                            .feed-image-title {}

                            .feed-image-desc {}
                        }

                        &::before {}
                    }

                    /* } */
                }
            }
        }
    }

    /* END :: Benefit Section 
******************************************** */
}

@media(max-width:834px) {
    .product-benefit-section {
        .container {
            .product-benefit-container {
                .product-benefit-container-header {
                    .benefit-head {}

                    span {}
                }

                .product-benefit-main-container {
                    display: flex;
                    flex-direction: column;

                    .product-wrapper-list {
                        order: 2;

                        .product-wrapper-item {
                            padding-right: 14px;

                            .product-item-image {
                                img {
                                    aspect-ratio: 106/78;
                                    width: 106px;
                                }
                            }

                            .product-item-content {
                                .product-item-head {
                                    h5 {
                                        font-size: 24px;
                                        line-height: 32px;
                                    }

                                    .product-icon-box {
                                        .product-label {
                                            font-size: 18px;
                                            line-height: 24px;
                                        }
                                    }
                                }

                                .rating-badge {
                                    display: flex;
                                }
                            }
                        }
                    }

                    /* .product-result-image-container { */
                    .recipe-finder-login-image {
                        img {}
                    }

                    .recipe-finder-feed-image-wrapper {
                        order: 2;

                        .feed-image-header {
                            .feed-image-heart-icon {}

                            .start-cook-btn {}
                        }

                        .recipe-finder-feed-image {
                            img {}
                        }

                        .feed-image-footer {
                            .feed-image-title {}

                            .feed-image-desc {}
                        }

                        &::before {}
                    }

                    /* } */
                }
            }
        }
    }
}

@media(max-width:576px) {
    .container {
        width: 93%;
    }

    .recipe-finder-header {
        .container {
            .recipe-header-container {
                position: relative;

                .recipe-header-logo {
                    margin: 0 auto;

                    span {}
                }

                .header-navbar-container {
                    .header-actions-list {
                        flex-direction: column;
                        position: fixed;
                        top: 200px;
                        max-width: 100%;
                        width: 360px;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.493);
                        backdrop-filter: blur(10px);
                        align-items: start;
                        justify-content: start;
                        padding: 10vw 0 0 10vw;
                        -webkit-backdrop-filter: blur(10px);
                        transition: all 0.3s ease;
                        left: 200px;
                        opacity: 0;

                        .menu-bar-list {
                            display: flex;
                            align-items: start;
                            justify-content: start;
                            gap: 20px;
                            flex-direction: column;

                            .menu-bar-item {
                                list-style: none;

                                a {
                                    font-size: 1.2rem;
                                    text-decoration: none;
                                    color: var(--primary-color);
                                }
                            }
                        }

                        .header-actions-icon-items {
                            gap: 18px;

                            .header-action-item {
                                svg {}
                            }
                        }

                        .header-input-label {
                            right: -170px;
                            top: 45px;

                            input {
                                &::placeholder {}
                            }

                            &:hover {
                                input {
                                    &::placeholder {}
                                }
                            }

                            &.show-hide {
                                input {
                                    &::placeholder {}
                                }
                            }
                        }

                        &.header-actions-list.active {
                            opacity: 1;
                            top: 109px;
                            transform: translate(0);
                            left: 0;
                        }
                    }
                }

                .header-hamburger-menu {
                    display: flex;
                    position: absolute;
                }
            }
        }
    }

    /* END :: Header Section 
    ******************************************/
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* START :: Featured Recipe Section 
    ******************************************/
    .featured-recipe-section {
        .container {
            .featured-recipe-container {
                h2 {}

                .featured-desc {}

                .featured-recipes-grid {
                    grid-template-columns: repeat(2, auto);

                    .featured-recipe-card {
                        &:nth-child(3) {
                            display: none;
                        }

                        .recipe-image {
                            img {}
                        }

                        .card-title {
                            font-size: 18px;
                            line-height: 24px;
                        }

                        .card-rating-wrapper {
                            .rating-desc {
                                font-size: 16px;
                                line-height: 20px;
                            }

                            .rating-badge {
                                svg {
                                    path {}
                                }

                                span {}
                            }
                        }
                    }
                }
            }
        }
    }

    /* END :: Featured Recipe Section 
    ******************************************/
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* START :: Product Benefit Section 
    ******************************************/
    .product-benefit-section {
        .container {
            .product-benefit-container {
                .product-benefit-container-header {
                    h3.benefit-head {}

                    span {}
                }

                .product-benefit-main-container {
                    .product-wrapper-list {
                        .product-wrapper-item {
                            .product-item-image {
                                img {}
                            }

                            .product-item-content {
                                .product-item-head {
                                    h5 {
                                        font-size: 18px;
                                        line-height: 24px;
                                    }

                                    .product-icon-box {
                                        svg {
                                            path {}
                                        }

                                        .product-label {
                                            font-size: 16px;
                                            line-height: 20px;
                                        }
                                    }
                                }

                                .rating-badge {
                                    svg {
                                        path {}
                                    }

                                    span {}
                                }
                            }
                        }
                    }

                    .recipe-finder-login-image {
                        img {
                            border-radius: 30px;
                        }
                    }

                    .recipe-finder-feed-image-wrapper {
                        .feed-image-header {
                            .feed-image-heart-icon {
                                svg {
                                    g {
                                        path {}
                                    }

                                    defs {
                                        clipPath {
                                            rect {}
                                        }
                                    }
                                }
                            }

                            .start-cook-btn {}
                        }

                        .recipe-finder-feed-image {
                            img {}
                        }

                        .feed-image-footer {
                            bottom: 16px;
                            left: 18px;
                            gap: 6px;

                            h5.feed-image-title {
                                font-size: 24px;
                                line-height: 30px;
                            }

                            span.feed-image-desc {
                                font-size: 16px;
                                line-height: 21px;

                                br {}
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:476px) {
    .recipe-finder-header {
        .container {
            .recipe-header-container {
                padding: 16px 0 62px;
                width: 100%;
                position: relative;

                .recipe-header-logo {
                    font-size: 26px;
                    line-height: 32px;

                    span {
                        font-size: 28px;
                        line-height: 34px;
                    }
                }

                .header-navbar-container {
                    .header-actions-list {
                        &.header-actions-list.active {
                            top: 112px;

                            .header-input-label {
                                input {
                                    &::placeholder {}
                                }

                                &:hover {
                                    input {
                                        &::placeholder {}
                                    }
                                }

                                &.show-hide {
                                    input {
                                        &::placeholder {}
                                    }
                                }
                            }
                        }
                    }
                }

                .header-hamburger-menu {
                    width: 22px;
                    height: 17px;

                    /* Active State: Transforms into a Cross */
                    &.header-hamburger-menu.active .bar1 {
                        transform: translate(-2.5px, 7px) rotate(45deg);
                        /* Move down and rotate */
                    }

                    &.header-hamburger-menu.active .bar3 {
                        transform: translate(-3px, -7px) rotate(-45deg);
                        /* Move up and rotate */
                    }
                }

                >.header-input-label {
                    display: flex;
                    position: absolute;
                    bottom: 16px;
                    top: unset;
                    left: 0;
                    right: 0;

                    input {
                        padding: 11px 0 11px 40px;
                    }

                    svg {
                        position: absolute;
                        top: 8px;
                        right: 8px;
                        left: 8px;
                    }

                    input {
                        svg {}
                    }
                }
            }
        }
    }

    /* END :: Header Section 
    ******************************************/
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* START :: Featured Recipe Section 
    ******************************************/
    .featured-recipe-section {
        padding: 32px 0 40px;

        .container {
            .featured-recipe-container {
                h2 {
                    font-size: 26px;
                    line-height: 36px;
                }

                .featured-desc {
                    font-size: 20px;
                    line-height: 28px;
                    padding-top: 0;
                }

                .featured-recipes-grid {
                    .featured-recipe-card {
                        .recipe-image {
                            max-width: 152px;
                        }

                        .card-title {
                            font-size: 16px;
                            line-height: 21px;
                        }

                        .card-rating-wrapper {
                            .rating-desc {
                                font-size: 14px;
                                line-height: 17px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* END :: Featured Recipe Section 
    ******************************************/
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* START :: Product Benefit Section
    *****************************************/
    .product-benefit-section {
        .container {
            .product-benefit-container {
                .product-benefit-container-header {
                    padding-bottom: 0;

                    h3.benefit-head {
                        font-size: 18px;
                        line-height: 24px;
                    }

                    span {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }

                .product-benefit-main-container {
                    gap: 10px;

                    .product-wrapper-list {
                        gap: 10px;

                        .product-wrapper-item {
                            .product-item-image {
                                img {
                                    aspect-ratio: 90/72;
                                    width: 90px;
                                }
                            }

                            .product-item-content {
                                padding-left: 13px;

                                .product-item-head {
                                    h5 {
                                        padding-bottom: 2px;
                                        font-size: 18px;
                                        line-height: 23px;
                                    }

                                    .product-icon-box {
                                        svg {
                                            width: 16px;
                                            height: 16px;

                                            path {}
                                        }

                                        .product-label {
                                            font-size: 14px;
                                            line-height: 18px;
                                        }
                                    }
                                }

                                .rating-badge {
                                    display: none;

                                    svg {
                                        path {}
                                    }

                                    span {}
                                }
                            }
                        }
                    }

                    .recipe-finder-login-image {
                        img {}
                    }

                    .recipe-finder-feed-image-wrapper {
                        aspect-ratio: 344/324;

                        .feed-image-header {

                            /* top: 16px;
                            left: 14px;
                            right: 14px; */
                            .feed-image-heart-icon {
                                svg {
                                    g {
                                        path {}
                                    }

                                    defs {
                                        clipPath {
                                            rect {}
                                        }
                                    }
                                }
                            }

                            .start-cook-btn {}
                        }

                        .recipe-finder-feed-image {
                            img {}
                        }

                        .feed-image-footer {
                            gap: 10px;

                            h5.feed-image-title {
                                font-size: 26px;
                                line-height: 26px;
                            }

                            span.feed-image-desc {
                                font-size: 16px;
                                line-height: 21px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* END :: Product Benefit Section 
    ******************************************/
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* START :: Comment Section
    *****************************************/
    .recipe-comment-section {
        .container {
            .recipe-comment-container {
                .comment-header {
                    h4 {
                        font-size: 22px;
                        line-height: 28px;
                        padding-bottom: 24px;
                    }
                }

                .user-profile-cards-container {
                    gap: 20px;

                    .user-profile-card {
                        .user-profile-card-container {
                            .user-profile-card-header {
                                .user-profile-card-info-container {
                                    gap: 12px;

                                    .user-profile-card-info {
                                        gap: 16px;

                                        .user-profile-image {
                                            width: 48px;
                                            height: 48px;

                                            img {
                                                width: 28px;
                                                height: 49px;
                                                margin-top: 14px;
                                            }
                                        }

                                        .user-name {
                                            font-size: 15px;
                                            line-height: 20px;
                                        }
                                    }

                                    .profile-card-desc {
                                        font-size: 13px;
                                        line-height: 17px;
                                    }

                                    .user-card-footer {
                                        .user-card-stat {
                                            svg {
                                                path {}
                                            }

                                            span {
                                                font-size: 12px;
                                                line-height: 14px;
                                            }
                                        }

                                        .card-posted-time {
                                            font-size: 12px;
                                            line-height: 14px;
                                        }
                                    }
                                }

                                .message-icon {
                                    svg {
                                        width: 19px;
                                        aspect-ratio: 1;
                                    }
                                }
                            }
                        }
                    }

                    & :nth-child(2).user-profile-card {
                        .user-profile-card-container {
                            .user-profile-card-header {
                                .user-profile-card-info-container {
                                    .user-profile-card-info {
                                        .user-profile-image {
                                            width: 48px;
                                            height: 48px;

                                            img {
                                                width: 31px;
                                                height: 43px;
                                                /* margin-top: 20px; */
                                                margin-top: 4px;
                                            }
                                        }

                                        .user-name {}
                                    }

                                    .profile-card-desc {}

                                    .user-card-footer {
                                        .user-card-stat {
                                            svg {
                                                path {}
                                            }

                                            span {}
                                        }

                                        .card-posted-time {}
                                    }
                                }

                                .message-icon {
                                    svg {
                                        path {}

                                        circle {}
                                    }
                                }
                            }
                        }
                    }

                    &:nth-child(3).user-profile-card {
                        .user-profile-card-container {
                            .user-profile-card-header {
                                .user-profile-card-info-container {
                                    .user-profile-card-info {
                                        .user-profile-image {
                                            width: 48px;
                                            height: 48px;

                                            img {
                                                width: 48px;
                                                height: 48px;
                                                margin-top: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* END :: Comment Section
    *****************************************/
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* START :: Footer Section
    *****************************************/
    .footer-section {
        display: block;

        .container {
            .footer-container {
                border-top: 1px solid #EEEEEE;

                .footer-list {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .footer-list-item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 16px 0 16px 10px;
                        /* width: 100%; */
                        position: relative;

                        .home-container-link {
                            svg {
                                path {}
                            }
                        }

                        .heart-container-link {
                            svg {
                                g {
                                    path {}
                                }

                                defs {
                                    clipPath {
                                        rect {}
                                    }
                                }
                            }
                        }

                        .global-container-link {
                            background-color: #F6B100;
                            width: 100%;
                            padding: 24px;
                            border-radius: 50%;
                            position: absolute;
                            /* bottom: 10px; */
                            top: -30px;
                            outline: 10px solid white;
                            display: grid;
                            place-items: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            svg {
                                position: absolute;
                                display: flex;
                                /* fill: white; */
                                stroke: white;

                                path {
                                    /* fill: white; */
                                }
                            }
                        }

                        .bookmark-container-link {
                            svg {
                                path {}
                            }
                        }

                        .user-container-link {
                            svg {
                                path {}
                            }
                        }
                    }
                }
            }
        }
    }

    /* END :: Footer Section
    *****************************************/
}