@media(max-width:1192px) {

    /* START :: Benefit Section 
******************************************** */
    .product-benefit-section {
        .container {
            .product-benefit-container {
                .product-benefit-container-header {
                    .benefit-head {}

                    span {}
                }

                .product-benefit-main-container {
                    .product-wrapper-list {
                        .product-wrapper-item {
                            .product-item-image {
                                img {}
                            }

                            .product-item-content {
                                .product-item-head {
                                    h5 {
                                        font-size: 18px;
                                        line-height: 24px;
                                    }

                                    .product-icon-box {
                                        .product-label {
                                            font-size: 16px;
                                        }
                                    }
                                }

                                .rating-badge {
                                    display: none;

                                    span {}
                                }
                            }
                        }
                    }

                    .product-result-image-container {
                        .recipe-finder-login-image {
                            img {}
                        }

                        .recipe-finder-feed-image-wrapper {
                            .feed-image-header {
                                .feed-image-heart-icon {}

                                .start-cook-btn {}
                            }

                            .recipe-finder-feed-image {
                                img {}
                            }

                            .feed-image-footer {
                                .feed-image-title {}

                                .feed-image-desc {}
                            }

                            &::before {}
                        }
                    }
                }
            }
        }
    }

    /* END :: Benefit Section 
******************************************** */
}

@media(max-width:992px) {
    .recipe-finder-header {
        .container {
            .recipe-header-container {
                padding: 35px 0;

                .recipe-header-logo {
                    font-size: 34px;
                    line-height: 40px;

                    span {
                        font-size: 34px;
                        line-height: 40px;
                    }
                }

                .header-actions-list {
                    .header-action-item {
                        svg {}
                    }

                    .header-input-label {
                        input {
                            &::placeholder {}
                        }

                        &:hover {
                            input {
                                &::placeholder {}
                            }
                        }

                        &.active-2 {
                            input {
                                &::placeholder {}
                            }
                        }
                    }
                }
            }
        }
    }

    /* END :: Header Section 
    ******************************************/
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* START :: Featured Recipe Section 
    ******************************************/
    .featured-recipe-section {
        .container {
            .featured-recipe-container {
                h2 {}

                .featured-desc {}

                .featured-recipes-grid {
                    grid-template-columns: repeat(3, auto);

                    .featured-recipe-card {
                        margin: 0 auto;

                        &:nth-child(4),
                        &:nth-child(5) {
                            display: none;
                        }

                        .recipe-image {
                            img {}
                        }

                        .card-title {}

                        .card-rating-wrapper {
                            .rating-desc {}
                        }
                    }
                }
            }
        }
    }

    /* END :: Featured Recipe Section 
**********************************************/
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* START :: Benefit Section 
******************************************** */
    .product-benefit-section {
        .container {
            .product-benefit-container {
                .product-benefit-container-header {
                    .benefit-head {}

                    span {}
                }

                .product-benefit-main-container {
                    .product-wrapper-list {
                        .product-wrapper-item {
                            padding-right: 14px;

                            .product-item-image {
                                img {
                                    aspect-ratio: 106/78;
                                    width: 106px;
                                }
                            }

                            .product-item-content {
                                .product-item-head {
                                    h5 {
                                        /* font-size: 24px;
                                        line-height: 32px; */
                                    }

                                    .product-icon-box {
                                        .product-label {
                                            /* font-size: 18px;
                                            line-height: 24px; */
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .product-result-image-container {
                        .recipe-finder-login-image {
                            img {}
                        }

                        .recipe-finder-feed-image-wrapper {
                            .feed-image-header {
                                .feed-image-heart-icon {}

                                .start-cook-btn {}
                            }

                            .recipe-finder-feed-image {
                                img {}
                            }

                            .feed-image-footer {
                                .feed-image-title {}

                                .feed-image-desc {}
                            }

                            &::before {}
                        }
                    }
                }
            }
        }
    }

    /* END :: Benefit Section 
******************************************** */
}

@media(max-width:834px) {
    .product-benefit-section {
        .container {
            .product-benefit-container {
                .product-benefit-container-header {
                    .benefit-head {}

                    span {}
                }

                .product-benefit-main-container {
                    flex-direction: column;

                    .product-wrapper-list {
                        .product-wrapper-item {
                            padding-right: 14px;

                            .product-item-image {
                                img {
                                    aspect-ratio: 106/78;
                                    width: 106px;
                                }
                            }

                            .product-item-content {
                                .product-item-head {
                                    h5 {
                                        font-size: 24px;
                                        line-height: 32px;
                                    }

                                    .product-icon-box {
                                        .product-label {
                                            font-size: 18px;
                                            line-height: 24px;
                                        }
                                    }
                                }

                                .rating-badge {
                                    display: flex;
                                }
                            }
                        }
                    }

                    .product-result-image-container {
                        .recipe-finder-login-image {
                            img {}
                        }

                        .recipe-finder-feed-image-wrapper {
                            .feed-image-header {
                                .feed-image-heart-icon {}

                                .start-cook-btn {}
                            }

                            .recipe-finder-feed-image {
                                img {}
                            }

                            .feed-image-footer {
                                .feed-image-title {}

                                .feed-image-desc {}
                            }

                            &::before {}
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:576px) {
    .recipe-finder-header {
        .container {
            .recipe-header-container {
                position: relative;

                .recipe-header-logo {
                    margin: 0 auto;

                    span {}
                }

                .header-navbar-container {
                    .header-actions-list {
                        flex-direction: column;
                        position: fixed;
                        top: 200px;
                        width: 350px;
                        height: 70%;
                        background: rgba(0, 0, 0, 0.493);
                        backdrop-filter: blur(10px);
                        align-items: start;
                        justify-content: start;
                        padding: 10vw 0 0 10vw;
                        -webkit-backdrop-filter: blur(10px);
                        transition: all 0.3s ease;
                        left: 200px;
                        opacity: 0;

                        .menu-bar-list {
                            display: flex;
                            align-items: start;
                            justify-content: start;
                            gap: 20px;
                            flex-direction: column;

                            .menu-bar-item {
                                list-style: none;

                                a {
                                    font-size: 1.2rem;
                                    text-decoration: none;
                                    color: var(--primary-color);
                                }
                            }
                        }

                        .header-actions-icon-items {
                            gap: 18px;

                            .header-action-item {
                                svg {}
                            }
                        }

                        .header-input-label {
                            right: -170px;
                            top: 45px;

                            input {
                                &::placeholder {}
                            }

                            &:hover {
                                input {
                                    &::placeholder {}
                                }
                            }

                            &.active-2 {
                                input {
                                    &::placeholder {}
                                }
                            }
                        }

                        &.header-actions-list.active {
                            opacity: 1;
                            top: 109px;
                            transform: translate(0);
                            left: 0;
                        }
                    }
                }

                .header-hamburger-menu {
                    display: flex;
                    position: absolute;
                }
            }
        }
    }

    /* END :: Header Section 
    ******************************************/
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* START :: Featured Recipe Section 
    ******************************************/
    .featured-recipe-section {
        .container {
            .featured-recipe-container {
                h2 {}

                .featured-desc {}

                .featured-recipes-grid {
                    grid-template-columns: repeat(2, auto);

                    .featured-recipe-card {
                        &:nth-child(3) {
                            display: none;
                        }

                        .recipe-image {
                            img {}
                        }

                        .card-title {
                            font-size: 18px;
                            line-height: 24px;
                        }

                        .card-rating-wrapper {
                            .rating-desc {
                                font-size: 16px;
                                line-height: 20px;
                            }

                            .rating-badge {
                                svg {
                                    path {}
                                }

                                span {}
                            }
                        }
                    }
                }
            }
        }
    }

    /* END :: Featured Recipe Section 
    ******************************************/
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* START :: Product Benefit Section 
    ******************************************/
    .product-benefit-section {
        .container {
            .product-benefit-container {
                .product-benefit-container-header {
                    h3.benefit-head {}

                    span {}
                }

                .product-benefit-main-container {
                    .product-wrapper-list {
                        .product-wrapper-item {
                            .product-item-image {
                                img {}
                            }

                            .product-item-content {
                                .product-item-head {
                                    h5 {
                                        font-size: 18px;
                                        line-height: 24px;
                                    }

                                    .product-icon-box {
                                        svg {
                                            path {}
                                        }

                                        .product-label {
                                            font-size: 16px;
                                            line-height: 20px;
                                        }
                                    }
                                }

                                .rating-badge {
                                    svg {
                                        path {}
                                    }

                                    span {}
                                }
                            }
                        }
                    }

                    .product-result-image-container {
                        .recipe-finder-login-image {
                            img {}
                        }

                        .recipe-finder-feed-image-wrapper {
                            .feed-image-header {
                                .feed-image-heart-icon {
                                    svg {
                                        g {
                                            path {}
                                        }

                                        defs {
                                            clipPath {
                                                rect {}
                                            }
                                        }
                                    }
                                }

                                .start-cook-btn {}
                            }

                            .recipe-finder-feed-image {
                                img {}
                            }

                            .feed-image-footer {
                                h5.feed-image-title {}

                                span.feed-image-desc {
                                    br {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:476px) {
    .recipe-finder-header {
        .container {
            .recipe-header-container {
                padding: 22px 0;

                .recipe-header-logo {
                    font-size: 28px;
                    line-height: 34px;

                    span {
                        font-size: 28px;
                        line-height: 34px;
                    }
                }

                .header-navbar-container {
                    .header-actions-list {
                        &.header-actions-list.active {
                            top: 78px;

                            .header-input-label {
                                input {
                                    &::placeholder {}
                                }

                                &:hover {
                                    input {
                                        &::placeholder {}
                                    }
                                }

                                &.active-2 {
                                    input {
                                        &::placeholder {}
                                    }
                                }
                            }
                        }
                    }
                }

                .header-hamburger-menu {
                    width: 22px;
                    height: 17px;

                    /* Active State: Transforms into a Cross */
                    &.header-hamburger-menu.active .bar1 {
                        transform: translate(-2.5px, 7px) rotate(45deg);
                        /* Move down and rotate */
                    }

                    &.header-hamburger-menu.active .bar3 {
                        transform: translate(-3px, -7px) rotate(-45deg);
                        /* Move up and rotate */
                    }
                }
            }
        }
    }

    /* END :: Header Section 
    ******************************************/
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* START :: Featured Recipe Section 
    ******************************************/
    .featured-recipe-section {
        padding: 42px 0 50px;

        .container {
            .featured-recipe-container {
                h2 {
                    font-size: 26px;
                    line-height: 36px;
                }

                .featured-desc {
                    font-size: 20px;
                    line-height: 28px;
                }

                .featured-recipes-grid {
                    .featured-recipe-card {
                        .card-rating-wrapper {
                            .rating-desc {}
                        }
                    }
                }
            }
        }
    }

    /* END :: Featured Recipe Section 
    ******************************************/
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* START :: Product Benefit Section
    *****************************************/
    .product-benefit-section {
        .container {
            .product-benefit-container {
                .product-benefit-container-header {
                    padding-bottom: 12px;

                    .benefit-head {}

                    span {}
                }

                .product-benefit-main-container {
                    .product-wrapper-list {
                        gap: 10px;

                        .product-wrapper-item {
                            .product-item-image {
                                img {
                                    aspect-ratio: 90/72;
                                    width: 90px;
                                }
                            }

                            .product-item-content {
                                padding-left: 13px;

                                .product-item-head {
                                    h5 {}

                                    .product-icon-box {
                                        .product-label {}
                                    }
                                }

                                .rating-badge {
                                    display: none;
                                }
                            }
                        }
                    }

                    .product-result-image-container {
                        .recipe-finder-login-image {
                            img {}
                        }

                        .recipe-finder-feed-image-wrapper {
                            .feed-image-header {
                                .feed-image-heart-icon {}

                                .start-cook-btn {}
                            }

                            .recipe-finder-feed-image {
                                img {}
                            }

                            .feed-image-footer {
                                .feed-image-title {}

                                .feed-image-desc {}
                            }

                            &::before {}
                        }
                    }
                }
            }
        }
    }
}