@media(max-width:1192px) {

    /* START :: Benefit Section 
******************************************** */
    .product-benefit-section {
        .container {
            .product-benefit-container {
                .product-benefit-container-header {
                    .benefit-head {}

                    span {}
                }

                .product-benefit-main-container {
                    .product-wrapper-list {
                        .product-wrapper-item {
                            .product-item-image {
                                img {}
                            }

                            .product-item-content {
                                .product-item-head {
                                    h5 {
                                        font-size: 18px;
                                    }

                                    .product-icon-box {
                                        .product-label {
                                            font-size: 16px;
                                        }
                                    }
                                }

                                .rating-badge {
                                    display: none;

                                    span {}
                                }
                            }
                        }
                    }

                    .product-result-image-container {
                        .recipe-finder-login-image {
                            img {}
                        }

                        .recipe-finder-feed-image-wrapper {
                            .feed-image-header {
                                .feed-image-heart-icon {}

                                .start-cook-btn {}
                            }

                            .recipe-finder-feed-image {
                                img {}
                            }

                            .feed-image-footer {
                                .feed-image-title {}

                                .feed-image-desc {}
                            }

                            &::before {}
                        }
                    }
                }
            }
        }
    }

    /* END :: Benefit Section 
******************************************** */
}

@media(max-width:992px) {
    .recipe-finder-header {
        .container {
            .recipe-header-container {
                padding: 35px 0;

                .recipe-header-logo {
                    font-size: 34px;
                    line-height: 40px;

                    span {
                        font-size: 34px;
                        line-height: 40px;
                    }
                }

                .header-actions-list {
                    .header-action-item {
                        svg {}
                    }

                    .header-input-label {
                        input {
                            &::placeholder {}
                        }

                        &:hover {
                            input {
                                &::placeholder {}
                            }
                        }

                        &.active-2 {
                            input {
                                &::placeholder {}
                            }
                        }
                    }
                }
            }
        }
    }

    /* END :: Header Section 
    ******************************************/
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* START :: Featured Recipe Section 
    ******************************************/
    .featured-recipe-section {
        .container {
            .featured-recipe-container {
                h2 {}

                .featured-desc {}

                .featured-recipes-grid {
                    grid-template-columns: repeat(3, auto);

                    .featured-recipe-card {
                        margin: 0 auto;

                        &:nth-child(4),
                        &:nth-child(5) {
                            display: none;
                        }

                        .recipe-image {
                            img {}
                        }

                        .card-title {}

                        .card-rating-wrapper {
                            .rating-desc {}
                        }
                    }
                }
            }
        }
    }

    /* END :: Featured Recipe Section 
**********************************************/
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* ############################  */
    /* START :: Benefit Section 
******************************************** */
    .product-benefit-section {
        .container {
            .product-benefit-container {
                .product-benefit-container-header {
                    .benefit-head {}

                    span {}
                }

                .product-benefit-main-container {
                    flex-direction: column;

                    .product-wrapper-list {
                        .product-wrapper-item {
                            .product-item-image {
                                img {}
                            }

                            .product-item-content {
                                .product-item-head {
                                    h5 {}

                                    .product-icon-box {
                                        .product-label {}
                                    }
                                }

                                .rating-badge {
                                    display: flex;

                                    svg {
                                        path {}
                                    }

                                    span {}
                                }
                            }
                        }
                    }

                    .product-result-image-container {
                        .recipe-finder-login-image {
                            img {}
                        }

                        .recipe-finder-feed-image-wrapper {
                            .feed-image-header {
                                .feed-image-heart-icon {}

                                .start-cook-btn {}
                            }

                            .recipe-finder-feed-image {
                                img {}
                            }

                            .feed-image-footer {
                                .feed-image-title {}

                                .feed-image-desc {}
                            }

                            &::before {}
                        }
                    }
                }
            }
        }
    }

    /* END :: Benefit Section 
******************************************** */
}

@media(max-width:576px) {
    .recipe-finder-header {
        .container {
            .recipe-header-container {
                .recipe-header-logo {
                    span {}
                }

                .header-navbar-container {
                    .header-actions-list {
                        flex-direction: column;
                        position: fixed;
                        top: 109px;
                        left: 0;
                        width: 90vw;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.493);
                        backdrop-filter: blur(10px);
                        align-items: start;
                        justify-content: start;
                        padding: 10vw 0 0 10vw;
                        -webkit-backdrop-filter: blur(10px);
                        /* For Safari */
                        /* Extra Polish */
                        border-right: 1px solid rgba(255, 255, 255, 0.2);

                        .menu-bar-list {
                            display: flex;
                            align-items: start;
                            justify-content: start;
                            gap: 20px;
                            flex-direction: column;

                            .menu-bar-item {
                                list-style: none;

                                a {
                                    font-size: 1.2rem;
                                    text-decoration: none;
                                    color: var(--primary-color);
                                }
                            }
                        }

                        .header-actions-icon-items {
                            gap: 18px;

                            .header-action-item {
                                svg {}
                            }
                        }

                        .header-input-label {
                            right: -170px;
                            top: 45px;

                            input {
                                &::placeholder {}
                            }

                            &:hover {
                                input {
                                    &::placeholder {}
                                }
                            }

                            &.active-2 {
                                input {
                                    &::placeholder {}
                                }
                            }
                        }
                    }

                    .header-hamburger-menu {
                        display: flex;
                    }
                }
            }
        }
    }
}