/* Rating Badge  */
.rating-badge {
    border-radius: 10px;
    background-color: var(--primary-color);
    display: flex;
    gap: 1px;
    align-items: center;
    padding: 2px 4px 2px 3px;
    max-height: max-content;

    svg {
        path {
            fill: white;
        }
    }

    span {
        font-size: 8px;
        line-height: 12px;
        color: white;
        font-family: var(--ff-urbanist);
    }
}

/* ################################  */
/* ################################  */
/* ################################  */
/* ################################  */
/* ################################  */
/* START :: Recipe finder Header 
********************************************** */
.recipe-finder-header {
    background-color: var(--primary-color);

    .container {
        .recipe-header-container {
            padding: 48px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            /* Overlay */
            .overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.418);
                display: none;
                z-index: 998;
                backdrop-filter: blur(3px);
            }

            .recipe-header-logo {
                font-size: 44px;
                line-height: 54px;
                font-weight: 700;
                color: var(--secondary-color);

                span {
                    font-size: 44px;
                    line-height: 54px;
                    font-weight: 500;
                    color: var(--secondary-color);
                }
            }

            .header-navbar-container {
                .header-actions-list {
                    display: flex;
                    gap: 30px;
                    align-items: center;

                    .header-actions-icon-items {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 30px;

                        .header-action-item {
                            position: relative;
                            display: flex;

                            svg {
                                transition: all .3s ease;
                                cursor: pointer;

                                path {}
                            }
                        }
                    }

                    .menu-bar-list {
                        display: none;
                    }

                    .header-input-label {
                        position: absolute;
                        right: 27px;
                        top: 0px;
                        transition: all .3s ease;
                        width: 0;
                        overflow: hidden;
                        opacity: 0;
                        transition: all 0.5s ease-in-out;
                        /* Smooth effect */
                        display: inline-block;
                        vertical-align: middle;

                        input {
                            padding: 8px 0 8px 8px;
                            border-radius: 6px;
                            border: none;
                            outline: 0;
                            border: 1px solid #8080807e;
                            transition: all .3s ease;

                            &::placeholder {
                                transition: all .3s ease;
                                color: #8080808c;
                                font-family: var(--ff-urbanist);
                            }
                        }

                        &:hover {
                            input {
                                &::placeholder {
                                    color: #808080d5;
                                }
                            }
                        }
                    }

                    .header-input-label.active {
                        input {
                            border-color: black;

                            &::placeholder {
                                color: black;
                            }

                            &::before {}
                        }
                    }

                    .header-input-label {}

                    .header-input-label.active-2 {
                        width: 200px;
                        /* Adjust as needed */
                        opacity: 1;
                        margin-left: 10px;
                    }
                }

                .header-hamburger-menu {
                    width: 30px;
                    height: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    cursor: pointer;
                    position: relative;
                    display: none;
                    z-index: 100;
                    /* Ensure it's above other content */
                }

                .bar {
                    width: 100%;
                    height: 3px;
                    background-color: white;
                    /* Or any color you prefer */
                    border-radius: 2px;
                    transition: all 0.3s ease-in-out;
                    /* Smooth transition for transformation */
                }

                /* Active State: Transforms into a Cross */
                .header-hamburger-menu.active .bar1 {
                    transform: translateY(8.5px) rotate(45deg);
                    /* Move down and rotate */
                }

                .header-hamburger-menu.active .bar2 {
                    opacity: 0;
                    /* Hide the middle bar */
                }

                .header-hamburger-menu.active .bar3 {
                    transform: translateY(-8.5px) rotate(-45deg);
                    /* Move up and rotate */
                }
            }
        }
    }
}

/* END :: Recipe finder Header 
********************************************** */
/* #############################  */
/* #############################  */
/* #############################  */
/* #############################  */
/* #############################  */
/* Start :: Featured Recipes Section 
***********************************************/
.featured-recipe-section {
    padding: 65px 0;

    .container {
        .featured-recipe-container {
            h2 {
                font-size: 34px;
                line-height: 42px;
            }

            .featured-desc {
                font-size: 24px;
                line-height: 32px;
                color: var(--primary-color);
                font-weight: 600;
                padding-top: 6px;
            }

            .featured-recipes-grid {
                padding-top: 90px;
                display: grid;
                grid-template-columns: repeat(5, auto);
                justify-content: space-between;
                margin: 0 auto;

                .featured-recipe-card {
                    width: 100%;
                    max-width: max-content;
                    border-top-left-radius: 70px;
                    border-top-right-radius: 70px;
                    border-bottom-right-radius: 20px;
                    border-bottom-left-radius: 20px;
                    box-shadow: 0px 4px 10px 0px #00000040;

                    .recipe-image {
                        max-width: 168px;
                        width: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            position: relative;
                            top: -65px;
                            transform: rotate(-10deg);
                        }
                    }

                    .card-title {
                        margin-top: -70px;
                        padding-left: 16px;
                        font-family: var(--ff-urbanist);
                        font-size: 22px;
                        line-height: 28px;
                        color: var(--secondary-color);
                        font-weight: 700;
                    }

                    .card-rating-wrapper {
                        display: flex;
                        justify-content: space-between;
                        padding-right: 16px;
                        padding-left: 16px;

                        .rating-desc {
                            color: var(--quick-silver);
                            font-size: 20px;
                            line-height: 27px;
                        }
                    }
                }
            }
        }
    }
}

/* END :: Featured Recipes Section 
**********************************************/
/* #############################  */
/* #############################  */
/* #############################  */
/* #############################  */
/* #############################  */
/* START :: Benefit Section 
******************************************** */
.product-benefit-section {
    .container {
        .product-benefit-container {
            .product-benefit-container-header {
                display: flex;
                justify-content: space-between;
                padding-bottom: 22px;
                padding-right: 10px;

                .benefit-head {
                    font-size: 20px;
                    line-height: 26px;
                    color: var(--primary-color);
                    font-weight: 600;
                }

                span {
                    font-size: 15px;
                    line-height: 20px;
                    color: var(--quick-silver);
                }
            }

            .product-benefit-main-container {
                display: flex;
                gap: 30px;
                justify-content: space-between;

                .product-wrapper-list {
                    display: flex;
                    flex-direction: column;
                    gap: 28px;

                    .product-wrapper-item {
                        display: flex;
                        border-radius: 10px;
                        box-shadow: 0px 4px 40px 0px #0000001A;
                        max-width: 100%;
                        padding: 8px 30px 8px 8px;

                        .product-item-image {
                            img {
                                aspect-ratio: 180/98;
                                object-fit: cover;
                                width: 180px;
                                display: flex;
                                border-radius: 10px;
                            }
                        }

                        .product-item-content {
                            padding-left: 26px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            justify-content: space-between;
                            gap: 20px;

                            .product-item-head {
                                h5 {
                                    font-size: clamp(18px, 2vw + 1rem, 24px);
                                    line-height: 32px;
                                    color: var(--secondary-color);
                                }

                                .product-icon-box {
                                    display: flex;
                                    gap: 2px;

                                    .product-label {
                                        font-size: 18px;
                                        line-height: 24px;
                                        font-size: clamp(14px, 1vw + 1rem, 18px);
                                        color: var(--primary-color);
                                        font-weight: 500;
                                        min-width: max-content;
                                    }
                                }
                            }

                            .rating-badge {
                                padding: 5px 7px 4px 7px;

                                svg {
                                    path {}
                                }

                                span {}
                            }
                        }
                    }
                }

                .product-result-image-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .recipe-finder-login-image {
                        aspect-ratio: 608/303;
                        width: 610px;

                        img {
                            padding: 10px;
                        }
                    }

                    .recipe-finder-feed-image-wrapper {
                        .recipe-finder-feed-image {
                            aspect-ratio: 608/339;
                            width: 610px;

                            img {
                                border-radius: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* END :: Benefit Section 
******************************************** */
/* #############################  */
/* #############################  */
/* #############################  */
/* #############################  */
/* #############################  */
/* START :: Comment Section 
******************************************** */
.recipe-comment-section {
    padding: 42px 0 46px;

    .container {
        .recipe-comment-container {
            h4 {
                font-family: var(--ff-urbanist);
                font-weight: 600;
                font-size: 24px;
                line-height: 30px;
                color: var(--secondary-color);
                padding: 6px 0 41px;
            }

            .comment-main-container {
                .user-profile-card {
                    .user-profile-card-container {
                        .user-profile-card-header {
                            display: flex;
                            justify-content: space-between;

                            .user-profile-card-info {
                                display: flex;
                                gap: 26px;
                                align-items: center;

                                .user-profile-image {
                                    width: 70px;
                                    height: 70px;
                                    border-radius: 50%;
                                    background-color: #D89E6C;
                                    overflow: hidden;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    img {
                                        width: 41px;
                                        height: 72px;
                                        margin-top: 20px;
                                    }
                                }

                                .user-name {
                                    font-size: 20px;
                                    line-height: 28px;
                                    color: var(--secondary-color);
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}